body {
    background-color: rgba(241, 97, 121, 0.973);
}
/*--------------------------------------------------------NAV---------------------------------------------------------------*/ 

*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*HEADER*/
header{
    height: 100px;
    background: #ccc;
    padding: 0 30px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}

.logo{
    text-transform: uppercase;
    color: rgb(238, 144, 164);
    font-weight: 200;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding:  0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(216, 108, 175);
}

#check{
    display: none;
}

/*responsive*/

@media screen and (max-width: 961px) {
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 25%;
        background:#daaed4 ;
        left: 0;
        top: 0;
        text-align: center;
        padding: 70px 0px;
        z-index: 70;
        transition: 0.8s;
    }  

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #check:checked ~ .menu{
        right: 0;
    }
}



/*----------------------------------------------------------INICIO------------------------------------------------------*/

.carrusel{
    width: 100%;
    margin: 30px;
    padding: 20px;
}

.subtituloInicio{
    width: 100%;
    margin: 5px;  
    padding: 20px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: inline-block;
}

.subtituloInicio h1{
    color: rgb(19, 17, 17);
    font-family: Monotype Corsiva;
    height: 20px;
}

.subtituloInicio h1:hover{
    background-color: #d788da;
    width: 100%;
    height: 80%;
}

.parrafoSubtitulo{
    color: rgb(19, 17, 17);
    font-family: Monotype Corsiva;
    width: 100%;
    
}

.galeria{
    display: flex;    
    height: 200vh;
    width: auto;
    flex-flow: column nowrap;
    justify-content: space-evenly;
   
}

.galeria__card{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.galeria__card p{
        font-weight: 300;
        text-align: center;
}

.derecha{
    align-self: flex-end;
     flex-direction: row-reverse;
     width: 55%;
}


/*-------------------------------------------------------MAIN SECTION-------------------------------------------------------*/
.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 100px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:black;
    font-size: 30px;
    font-family: Monotype Corsiva;
    text-align: center;
    margin-bottom: 60px;
    
}

.galeria-conjuntos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-conjuntos{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);

}

.imagen-conjuntos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:rgba(193, 140, 236, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;

}

.hover-galeria p{
    color: #fff;
}

.imagen-conjuntos:hover .hover-galeria{
    transform: scale(1);
}

/*------------------------------------------------------------Clientes---------------------------------------------------*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #6d133d93;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 (0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.cards .card .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card .contenido-texto.card p{
    font-weight: 300;
    padding-top: 5px;
}

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*-------------------------------------------------------FOOTER----------------------------------------------------------*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
   
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solis #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/*--------------------------------------MARCAS APLICANDO GRID--------------------------------------------------------------*/

.grid-container{
    display: grid;   
    grid-template-rows: 50% 50% 50%; 
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 2px pink;    
    grid-gap: 5px;    
}

.grid-item{
  text-align: center;
  padding: 20px;
  
}

.imagenGrid{
    width: 40px;
    height: 50px;
    padding: 30px;
}


/*--------------------------------------------------------CONTACTANOS----------------------------------------------*/
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 220, 230, 0.973);
}
.form-register {
    width: 400px;
    background: #e7ace2;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    font-family: Bodoni MT;
    color:rgb(14, 12, 12);
    box-shadow: 7px 13px 37px rgb(23, 54, 192);


@media screen and (max-width:468px) and (min-width:961px) {
    text-align: center;
    width: 50%;
    padding: 20px;
    }
}


.controls {
    width: 100%;
    background:#e3e9e7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid #0f1a13;
    font-family: Bodoni MT;
    font-size: 18px;
    color:rgb(255, 255, 255);
}


.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a {
    color:rgb(158, 16, 16);
    text-decoration:none;
}    


.form-register a:hover {
    color:rgb(14, 6, 121);
    text-decoration:underline;
    
}


.form-register .botons {
    width: 100%;
    background: #e3e9e7;
    border:none;
    padding: 12px;
    color:rgb(4, 54, 58);
    margin: 16px;
    font-size: 16px;
}

/*------------------------------------------------------NOSOTRAS------------------------------------------------------*/

.tituloMarca{
    text-align: center;
    padding: 20px;    
    
    font-size: 20px;
    background-color: white;
    margin-top: 30px;
}

.contImg{
    display: flex;
    justify-content: center;
    padding: 35px;
}

@media screen and (max-width: 468) {
      .contImg{
        height: 50vh;
        width: 100vh;
      }
    
}


.contenido-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family:'Times New Roman', Times, serif Arial;
    height: 50vh;
    margin: 20px; 
    

@media screen and (max-width:468px) and (min-width:961px) {
        font-size: 46px;
}
}


.p{
    width: 30vh;
    display: none;
}


/*--------------------------------------------TEMPORADA---------------------------------*/

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width:961px) {
    .contenedor {
        max-width: 70%;

    }
}

.contenedor__grid {
    display:grid;
    grid-template-columns: (3, 1fr);
    gap: 3rem;
    
}

.contenedor__imagenes{
    background-color: #ccc;
    padding: 1rem;
}

.expendida--conjuntos{
    background-image: url(./multimedia3/fondo.jpg);
    grid-row: 2 / 3;
    grid-column: 1 / 3;

}

.expendida--node{
background-image: url(./multimedia3/fondo.png);
grid-row:  5 / 6;
grid-column: 2 / 4;


}




/*------------------BOOTSTRAP INICIO-----------------------------------*/
.contendorCarrusel{
    height: 20px;
    width: 100%;
}

/*------------------BOOTSTRAP FORMULARIO-----------------------------------*/
.containerFormulario{
    height: 50%;
    width: 100%;
}

